{% extends "base.html" %}

{% block content %}
    <h2 align="center">Works Log</h2>
    {% for job in jobs %}
        <h3 align="left">Action #{{ job.id }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Title of activity</td>
                    <td>Team leader</td>
                    <td>Duration</td>
                    <td>List of collaborators</td>
                    <td>Is finished</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ job.job }}</td>
                    <td>{{ job.team_leader }}</td>
                    <td>{{ job.work_size }} hours</td>
                    <td>{{ job.collaborators }}</td>
                    <td>{% if job.is_finished %}
                            Is finished
                        {% else %}
                            Is not finished
                        {% endif %}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}